<a href="https://colab.research.google.com/github/SruthiDevarakonda18/Classification-using-Naive-Bayes-Classifier---Medical-Application-Domain---Patient-is-Diabetes-or-no/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv('/content/diabetes.csv - diabetes.csv.csv')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
data.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
data.describe

<bound method NDFrame.describe of      Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]>

In [ ]:
data.shape

(768, 9)

In [ ]:
corr = data.corr()
print(corr)

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [ ]:
print(data.mean())

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
print(data.std())

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
X = data.drop('Outcome', axis=1)  
y = data['Outcome']

In [ ]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(X_train)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
7             10      115              0  ...  35.3                     0.134   29
275            2      100             70  ...  40.5                     0.677   25
86            13      106             72  ...  36.6                     0.178   45
294            0      161             50  ...  21.9                     0.254   65
706           10      115              0  ...   0.0                     0.261   30
..           ...      ...            ...  ...   ...                       ...  ...
682            0       95             64  ...  44.6                     0.366   22
272            3      122             78  ...  23.0                     0.254   40
118            4       97             60  ...  28.2                     0.443   22
304            3      150             76  ...  21.0                     0.207   37
108            3       83             58  ...  34.3                     0.336   25

[614 rows x 8 columns]

In [ ]:
print(y_train)

7      0
275    0
86     0
294    0
706    1
      ..
682    0
272    0
118    0
304    0
108    0
Name: Outcome, Length: 614, dtype: int64

In [ ]:
print(X_test)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
702            1      168             88  ...  35.0                     0.905   52
162            0      114             80  ...  44.2                     0.167   27
368            3       81             86  ...  27.5                     0.306   22
58             0      146             82  ...  40.5                     1.781   44
681            0      162             76  ...  49.6                     0.364   26
..           ...      ...            ...  ...   ...                       ...  ...
157            1      109             56  ...  25.2                     0.833   23
640            0      102             86  ...  29.3                     0.695   27
233            4      122             68  ...  35.0                     0.394   29
496            5      110             68  ...  26.0                     0.292   30
200            0      113             80  ...  31.0                     0.874   21

[154 rows x 8 columns]

In [ ]:
print(y_test)

702    1
162    0
368    0
58     0
681    1
      ..
157    0
640    0
233    0
496    0
200    0
Name: Outcome, Length: 154, dtype: int64

In [ ]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(X, y) 
y_pred = gnb.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  76.30208333333334 %